/* #region  global and common*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list,
.mobile-list,
.mobile-address,
.mobile-socials {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-our-team-title,
.section-our-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-benefits,
.section-our-team,
.section-our-portfolio,
.footer {
  padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }

  .section-benefits,
  .section-our-team,
  .section-our-portfolio {
    padding: 120px 0;
  }
}
/* #endregion */

/* #region  header*/
.header-container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.link-address {
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: block;
}

.active .link {
  color: #404bbf;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}

header .link-logo {
  padding: 16px 0;
}

.header-logo-studio {
  color: #2e2f42;
}

.nav-button {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.nav-icon {
  display: block;
  fill: #2f2f37;
}

.header .list,
.container-address {
  display: none;
}

.header-menu-modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%) scale(0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity, visibility, scale;
}

.header-menu-modal.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translate(0);
}

.mobile-close-button,
.modal-close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0px;
}

.mobile-close-button {
  border: 1px solid rgb(46, 47, 66, 0.1);
  background-color: rgba(231, 233, 252, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-button:hover,
.mobile-close-button:focus,
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .close-icon,
.modal-close-button:focus .close-icon {
  fill: #fff;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.tel {
  color: #4d5ae5;
}

.mobile-socials {
  display: flex;
  gap: 40px;
}

.socials-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
  }

  header .link-logo {
    margin-right: 120px;
  }

  header .link-logo {
    padding: 24px 0;
  }

  .nav-button {
    display: none;
  }

  .container-nav {
    display: flex;
    align-items: center;
  }

  .header .list {
    display: flex;
    gap: 40px;
  }

  .container-address {
    margin-left: auto;
    display: block;
  }

  .list.list-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-style: normal;
  }

  .link-address {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .active .link {
    position: relative;
  }

  .active .link::after {
    display: block;
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .link,
  .link-address,
  .link-logo {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover,
  .link:focus,
  .link-address:hover,
  .link-address:focus,
  .link-logo:hover,
  .link-logo:focus {
    text-decoration: none;
    color: #404bbf;
  }

  .link:active {
    text-decoration: underline;
    color: #404bbf;
  }

  .header-menu-modal {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  header .link-logo {
    margin-right: 76px;
  }

  .list.list-address {
    flex-direction: row;
    gap: 40px;
  }

  .link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
  }
}
/* #endregion */

/* #region hero */

.section-button,
.footer {
  background-color: #2e2f42;
}

.section-button {
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/office-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-button {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/office-mobile@2x.jpg);
  }
}

.section-button-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.section-button-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  text-align: center;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  border: none;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-button-button:hover,
.section-button-button:focus {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .section-button {
    max-width: 768px;
    padding: 112px 0;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/office-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-button {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/office-tablet@2x.jpg);
    }
  }

  .section-button-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .section-button {
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/office-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-button {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/office-desktop@2x.jpg);
    }
  }

  .section-button-title {
    margin-bottom: 48px;
  }
}
/* #endregion */

/* #region benefits */

.section-benefits .list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.section-benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-benefits-text,
.section-our-team-text,
.section-our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-benefits-text {
  font-weight: 500;
}

.benefits-icons {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  justify-content: center;
  align-items: center;
  display: none;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .section-benefits-title {
    text-align: left;
  }

  .section-benefits .list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .section-benefits .list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .section-benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-benefits-text {
    font-weight: 400;
  }

  .section-benefits .list {
    flex-wrap: wrap;
  }

  .section-benefits .list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icons {
    display: flex;
  }
}

/* #endregion */

/* #region our team */

.section-our-team {
  background: #f4f4fd;
}

.our-team.list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-member {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.socials.list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-our-team-title {
  text-align: center;
}

.container-team {
  padding: 32px 0;
}

.section-our-team-text {
  text-align: center;
  margin-bottom: 8px;
}

.socials-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

@media only screen and (min-width: 768px) {
  .section-our-team .container {
    padding: 0 108px;
  }

  .our-team.list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-member {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .container,
  .section-our-team .container {
    width: 1158px;
    padding: 0 15px;
  }

  .our-team.list {
    flex-wrap: nowrap;
  }

  .team-member {
    width: calc((100% - 72px) / 4);
  }
}

/* #endregion */

/* #region our portfolio */

.section-our-portfolio .list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  .section-our-portfolio .list {
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .section-our-portfolio .list {
    row-gap: 48px;
  }
}

.list-portfolio {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .list-portfolio {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .list-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
  }

  .list-portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

.list-portfolio-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 40px 32px;
  position: absolute;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portfolio:hover .overlay {
  transform: translateY(0%);
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-our-portfolio-title {
  margin-bottom: 8px;
}

/* #endregion */

/* #region footer */

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
    align-items: baseline;
    width: 584px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    width: 1158px;
  }
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer .link-logo {
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer .link-logo {
    display: inline-block;
    text-align: left;
  }
}

.footer-text {
  max-width: 288px;
}

@media only screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-left {
    margin-right: 120px;
  }
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-social {
    text-align: left;
  }
}

.footer-right .list {
  display: flex;
  gap: 16px;
}

.footer-right .socials-link:hover,
.footer-right .socials-link:focus {
  background-color: #31d0aa;
}

/* #region footer-form */

@media only screen and (min-width: 1158px) {
  .footer-form {
    margin-left: auto;
  }
}

.footer-form-container {
  display: flex;
  flex-direction: column;
  /*  gap: 24px; */
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-form-container {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-form-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-form-name {
    text-align: left;
  }
}

.footer-form-email {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-email:placeholder-shown {
  opacity: 0.3;
}

@media only screen and (min-width: 768px) {
  .footer-form-email {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-form-email:placeholder-shown {
    opacity: 1;
  }
}

.footer-form-email:focus-within {
  border-color: #31d0aa;
  opacity: 1;
}

.footer-form-email::placeholder {
  color: #fff;
}

.footer-form-button {
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: minwidthpx) {
  .footer-form-button {
    min-width: 165px;
  }
}

.subscribe-icon {
  margin-left: 16px;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #31d0aa;
}

/* #endregion */

/* #endregion */

/* #region modal */

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0px 16px 0px 38px;
  outline: transparent;
}

.modal-input:focus-within {
  border-color: #4d5ae5;
}

.input-container {
  position: relative;
}

.modal-form .label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-container {
  margin-bottom: 8px;
}

.textarea-div {
  margin-bottom: 16px;
}

.textarea {
  height: 120px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
  border-color: #4d5ae5;
}

.fieldset-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:active + .fieldset-icon,
.modal-input:focus + .fieldset-icon {
  fill: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}

.checkbox-input:checked + .checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon {
  opacity: 1;
  fill: #f4f4fd;
}

.checkbox-input:focus-visible + .checkbox-label .checkbox-span {
  outline: 1px solid #404bbf;
  outline-offset: 3px;
}

.checkbox-link:focus-visible {
  outline: 1px solid #404bbf;
  outline-offset: 2px;
  border-radius: 4px;
}

.checkbox-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 0 auto;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

/* #endregion */
